html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden;
  display: block;
}

body {
	font-family: Roboto, sans-serif;
}

canvas {
	background-color: #1e1e1e;
}

#info {
	color: white;
	position: absolute;
	top: 10px;
	left: 10px;
	user-select: none;
}